#mainNav .nav-item a {
  color: white;
  text-decoration: none;
}

#mainNav .nav-item a:hover {
  color: #fbd786;
  text-decoration: none;
  font: bolder;
}

#mainNav .nav-item a:active {
  font: bold;
}

.navbar-brand {
  font-size: 1.5em;
}
