#header {
  color: black;
  background: #c6ffdd;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
  height: 30vh;
  padding-bottom: 5px;
  position: relative;
}

h1:hover {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}


#header-img{
  width: 100%;
  height: 100%;
  /* the absolute thing will be encapsulated by the thing it sits in 
  
  */
  position: absolute;
  top: 0;
  left:0;
  /* sit on top everything */
  z-index: 1;
  object-fit: cover;
  background-position: center bottom;
}

.header-info {
  z-index: 2;
  /* since z-index only makes sense if we can overlap, we need to set position absolute
  Text would lose the centering
  */
  position: absolute;
  width: 100%;
}

.display-3 {
  font-size: 6em;
}

.lead{
  font-size: 1.7em;
}